<div class="tab-container">
  <div class="btn-audio" (click)="step.set('UPLOAD')">UPLOAD</div>
  <div class="btn-transcript" (click)="step.set('TRANSCRIPT')">TRANSCRIPT</div>
  <div class="btn-transcript" (click)="step.set('HISTORY')">HISTORY</div>
</div>
@switch (step()) { @case ('UPLOAD') {
<app-upload-audio (audioUploaded)="onUpload($event)"> </app-upload-audio>
} @case ('LOADING') {
<p>Loading........</p>
} @case ('TRANSCRIBE') {
<p>กำลังถอดเสียง (Speech-to-Text)...</p>
} @case ('TRANSCRIPT') {
<app-transcript [transcript]="transcript()" (confirm)="onConfirmTranscript($event)">
</app-transcript>
} @case ('GENERATING') {
<p>กำลังสร้างรายงานการประชุม (Generate MoM)...</p>
} @case ('DONE') {
<app-mom-result [mom]="mom()"> </app-mom-result>
} @case ('FINISH') {
<p (click)="step.set('UPLOAD')" style="cursor: pointer">FINISH.</p>
} @case('HISTORY'){
<app-history></app-history>
} @case ('ALL') {
<app-upload-audio (audioUploaded)="onUpload($event)"> </app-upload-audio>
<p>Loading........</p>
<p>กำลังถอดเสียง (Speech-to-Text)...</p>
<app-transcript
  [transcript]="transcript()"
  (confirm)="onConfirmTranscript($event)"
></app-transcript>
<p>กำลังสร้างรายงานการประชุม (Generate MoM)...</p>
<app-mom-result [mom]="mom()"> </app-mom-result>
<p (click)="step.set('UPLOAD')" style="cursor: pointer">FINISH.</p>
} @default {
<p>Unknown step</p>
} }
