.notebook-paper {
  background-color: #fdfaef;
  border: 1px solid #ccc;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
  padding: 20px;
  position: relative;
  // font-family: 'Courier New', Courier, monospace;
  font-family: 'Quicksand', sans-serif;
}

h1 {
  font-size: 24px;
  font-weight: bold;
  color: #333;
  margin-bottom: 20px;
  padding-bottom: 10px;
  border-bottom: 1px dashed #ccc;
}

p {
  font-size: 16px;
  line-height: 1.5;
  color: #555;
}

[mat-dialog-actions] {
  justify-content: flex-end;
  margin-top: 20px;
}

button {
  font-family: 'Quicksand', sans-serif;
  font-size: 16px;
  text-transform: uppercase;
  border-radius: 0;
}
