<h2 mat-dialog-title>{{ data.title }}</h2>
<mat-dialog-content>
  <small>create_at : {{ data.date | date : 'MMM d, yyyy, HH:mm' : 'UTC' }}</small>
  <div class="container-textarea">
    <textarea class="content-textarea" [value]="this.data.content" [disabled]="true"></textarea>
  </div>
</mat-dialog-content>
<div class="history-btn-container">
  <mat-dialog-actions>
    <button mat-button (click)="onCopyToClipboard()">Copy</button>
  </mat-dialog-actions>
  <mat-dialog-actions>
    <button mat-button (click)="closeDialog()">Close</button>
  </mat-dialog-actions>
</div>
